*{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 2em;
  
}

.header{
display: flex;
background-color:goldenrod;
justify-content: space-between;

}

.logo{
    display: flex;
    margin-left: 1em;
}

.logo img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: 0.5em;
}
.logo h3{
    color: #fff;
    margin-left: 10px;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
  

}


.menu{
    margin-top: 2em;
    margin-right: 14em;
    display: inline;
}



.menu a{
text-decoration: none;
margin-left: 3em;
color: #fff;

}

.menu a:hover{

border-bottom: 2px solid;
}

.box{

    height: 50vh; 
    position: relative;
    background:url('IMG-20230819-WA0023.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: relative;
    
    height: 50vh;
    background: transparent;
    font-size: 26px;
    color: white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background:rgba(0,0, 0, 0.9);
   }
 
    .overlay .text{
  margin-left: 1.5em;
   margin-top: 3em;
   color: goldenrod;
   }

   .overlay .text p{
    color: #fff;
   }

   .overlay .text span{
    color: #fff;
   }
.text button{
    background-color: goldenrod;
    color: #fff;
    outline: none;
    border: none;
    width: 5em;
    height: 2em;
    border-radius: 5px;
    margin-top: 1em;
    font-size: 17px;
}
.text button:hover{
    background-color: #fff;
    color:goldenrod;
  
}

.about p{
margin: 1em;
line-height: 1.5em;
}
   
.about-img{
display: flex;
gap: 2em;
margin-top: 3em;
margin-left: 2em;

}

.about-img img{
    width: 8em;
    
}
.services-h1{
    margin-top: 2em;
    margin-bottom: 2em;
  text-align: center;
}
.services{
    margin-left: 1em;
    gap: 4em;
}

.services img{
    width: 10em;
}

.mep-h2{
    margin-bottom:1em;
    border-bottom: 2px solid goldenrod;
   
}

.mep-img{
display:flex;
gap: 2em;
margin-bottom: 2em;


}

.me-h2{
    margin-bottom:1em;
    border-top: 2px solid goldenrod;
    margin-top: 1em;
}

.services span .text{
    width: 20em;
}

.project{
    margin-top: 2rem;
}

.project h1{
    text-align: center ;
    margin-bottom: 1.5em;
}
.projects{
   margin-left: 1em;
  display: flex;
}
.project-container img{
    width: 8em;
   margin: 10px;
}
footer{
    background-color: black;
    color: #fff;
    height: 5em;
    margin-top: 2em;

}

.footer{
    display: flex;
    gap: 2em;
padding-top: 1.5em;
margin-right: 3em;
}